.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controller {
  width: 100%;
  position: absolute;
  top: 0;
  color: wheat;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  z-index: 999;
}

.col {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
}
